body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#applogo
{
  color: #3c8dbc;
}

#newmember
{
  padding-left: 80px;
}

#navbar{
  margin-top: -50px;
  margin-left: -180px;
}

#feedbox
{
  padding-top: 20px;
  margin-left: 30px;
}

#commentbox
{
  margin-left: -10px;
}